{% block content %}
<table>
	<tr align  = Left>
		<th width = 100%>{% load static %}<img src = "{% static 'polls/images/Mychoice1.png' %}" style="width:500px;height:80px;"></th>
		<th><font color = orangered><a href="/polls/{{user_email}}"><h4>Home</h4></a>
		<th><font color = orangered><a href = "/polls"><h4>Logout</h4></a>
	</tr>
</table>
<br>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<font size  = 5 color = orange> Add Your Comment Here</font>

<form method = "POST" action = "">
	{% csrf_token %}
	{{form.as_p}}
	<input type = "submit"  value = "submit"  class = "btn" >
</form>



{% endblock %}
